@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Poppins;
    // background-color:hsl(0, 0%, 98%);
    ;
    // text-align: center;
}

$primary-red :hsl(0, 78%, 62%);
$primary-cyan: hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);

$secondary-blue: hsl(229, 6%, 66%);
$tertiary-blue: hsl(234, 12%, 34%);
$primary-gray: hsl(0, 0%, 98%);

// 1em = 15px

@mixin respond($breakpoint) {
    @if $breakpoint == mobile {
        @media only screen and (max-width: 25em) {  //375px
            @content
        }
    };
    @if $breakpoint == tablet {
        @media only screen and (min-width: 51.2em) {  //768px
            @content
        }  
    };

    @if $breakpoint == laptop {
        @media only screen and (min-width: 72em) { //1080px
            @content
        }
    };

    @if $breakpoint == desktop {
        @media only screen and (min-width: 96em) { //1440px
            @content
        }
    };
}
body {
    background-color: $primary-gray;
    @include respond(mobile) {
        padding: 0 2rem;
    }
}

.features {
    background-color: $primary-gray;
    position: relative;
    &__headtag {
        text-align: center;
        padding: 2rem 0;
        @include respond(mobile){
            padding: 4rem 0;
        }
        h2 {
            font-weight: 600;
            font-size: 2.4rem;
            @include respond(mobile){
                font-size: 1.6rem;
            }
            span{
                font-weight: 200;
                font-size: 2rem;
                @include respond(mobile){
                    font-size: 1.35rem;
                }
            }
        }
        p {
            font-weight: 200;
            color: $secondary-blue;
            text-align: center;
            width: 35.2rem;
            margin: 0 auto;
            @include respond(mobile) {
                width: initial;
                margin: 0;
            }
        }

    }

    &__container {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 6em 6em 6em 6em 6em 6em 6em 6em 6em 6em; 
        grid-template-rows: 6em 6em 6em 6em 6em; 
        gap: 1.5em 1.5em; 
        grid-template-areas: 
            ". . . place2 place2 place2 . . . ."
            "place1 place1 place1 place2 place2 place2 place4 place4 place4 ."
            "place1 place1 place1 place3 place3 place3 place4 place4 place4 ."
            ". . . place3 place3 place3 . . . .";
            // ". . . . . . . . . ."; 
         @include respond(mobile) {
             display: block;
             margin: 0;
             width: 86%;
             padding-bottom: 4rem;
         }
    }
    .place1 { grid-area: place1; border-top: .3rem solid $primary-cyan;}
    .place2 { grid-area: place2; border-top: .3rem solid $primary-red;}
    .place3 { grid-area: place3; border-top: .3rem solid $primary-orange; }
    .place4 { grid-area: place4; border-top: .3rem solid $primary-blue;}

    &__item {
        padding: 1.5em;
        position: relative;
        background-color: #fff;
        border-radius: .5rem;
        box-shadow: 0px 8px 20px $secondary-blue;
        
        h4{
            color: $tertiary-blue;
            padding-bottom: .75rem;
        }
        p {
            color: $secondary-blue;
            font-size: .75rem;
        }
        img {
            position: absolute;
            right: 2rem;
            bottom: 1rem;
        }

        @include respond(mobile) {
            margin-bottom: 2rem;
            width: 100%;
            height: 12rem;
        }
    }

    
}
